.products {
  display: flex;
  flex-wrap: wrap;   
  gap: 20px;         
  margin: 20px;
}

.cards {
  flex: 1 1 200px;   
  background: #e0f2fe;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  position: relative;
}

.big {
  flex-grow: 2; 
  background: #bbf7d0;
}

.sale {
  align-self: flex-end; 
  background: #fecaca;
}

.products p{
    background:rgb(212, 171, 108);
    width: auto;
    padding: 16px;
    margin: 1px;
    border-radius: 10px;
}
 .badge
 {
   position: absolute;
   top:10px;
   right: 10px;
   padding: 4px 8px;
   background: rgb(255, 235, 146);
   color:rgb(122, 107, 252);
   border:2px solid rgb(0, 0, 0);
   border-radius: 9999999px;
 }
 .badgeb{
  left: -15px;
  position: absolute;
   top:-15px;
   padding: 4px 8px;
   background: rgb(215, 218, 177);
   color:rgb(5, 0, 52);
   border:2px solid rgb(0, 0, 0);
   border-radius: 9999999px;
   font-size: 30px;
 }






 .container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
 gap:10px;
 }


.header {
  grid-area: header;
  background: #e0f2fe;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   border: 2px solid #23002b;
  border-radius: 10px;
}

.sidebar {
  grid-area: sidebar;
  background: #bbf7d0;
  padding: 20px;
   border: 2px solid #23002b;
  border-radius: 10px;
}

.main {
  grid-area: main;
  padding: 20px;
  background: #fef9c3;
   border: 2px solid #23002b;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  background: #fecaca;
  text-align: center;
  padding: 10px;
   border: 2px solid #23002b;
  border-radius: 10px;
}





.header div {
  font-size: 24px;
  font-weight: bold;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  background: red;
  color: #333;
  font-size: 30px;
  border-radius: 100000000000px;
  padding: 5px 10px;
}
.menu a:hover{
  background: black;
  color: white;
  padding: 7px 12px;
}

.grid_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  
}

.grid_cards div{
  background: #efa6ff;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
   border: 2px solid #23002b;
  border-radius: 10px;
}

.grid_cards div p{
  background:white;
  padding: 4px 5px;
  border: 2px solid #23002b;
  color:#23002b;
  font-weight: 30px;
  border-radius: 8px;
}